<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/static/assets/app.css" />
        <title><%= title %></title>
    </head>
    <body class="bg-white dark:bg-black">
        <div id="content" class="prose md:prose-lg lg:prose-xl max-w-none prose-neutral dark:prose-invert"><%= content %></div>
    </body>
</html>
