<!doctype html>
<html>
  <head>
      <meta charset="utf-8"/>
      <link rel="stylesheet" href="/static/assets/app.css" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
      <title><%= title %></title>
  </head>
  <body class="bg-white dark:bg-black">
  <main
    class="flex min-h-screen flex-col max-w-5xl mx-auto px-4 py-4 sm:py-8 leading-5 dark:bg-black dark:text-white font-sans"
  >
    <div class="flex justify-between flex-wrap">
      <a href="/">
        <h3 class="font-mono">Sagar Patil</h3>
      </a>
      <div class="flex flex-col sm:flex-row justify-between gap-2 align-middle items-center my-1">
        <a
          href="https://linkedin.com/in/patilsr"
          class="outline-button w-32 bg-[#0077b5] text-white"
        >
          <i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;LinkedIn
        </a>
        <a
          href="https://github.com/sagarreddypatil"
          class="outline-button w-32"
        >
          <i class="fa fa-github" aria-hidden="true"></i>&nbsp;GitHub
        </a>
        <a
          href="/assets/resume.pdf"
          class="outline-button w-32"
        >
          <span>Resume</span>
        </a>
      </div>
    </div>
    <hr class="my-2 border-black" />
    <%= inner %>
    <div class="h-3"></div>
    <fieldset>
      <legend>
        <span class="text-lg mx-2 font-mono italic">cat README.md</span>
      </legend>
      <div class="flex flex-row justify-between">
        <span class="prose dark:prose-invert">
          Source code on{" "}
          <a href="https://github.com/sagarreddypatil/portfolio-website">
            GitHub
          </a>
        </span>
      </div>
    </fieldset>
  </main>
  </body>
</html>
