<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://cdn.tailwindcss.com"></script>
        <title><%= title %></title>
    </head>
    <body>
        <div id="content" class="prose"><%= content %></div>
    </body>
</html>
